* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d2d3c !important;
}

.custom-bar {
    margin-bottom: 2rem;
}

.container {
    width: 60% !important;
}

.card {
    background-color: #10202f !important;
    color: white !important;
}

.card-custom {
    height: auto;
    max-width: 250px;
}

.card .img-custom {
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: auto;
}

div.card-body {
    text-align: center;
    height: 150px;
    overflow: hidden;
}

/*-----FORM-----*/

body>div.container>div.form-control.mt-5.mb-5.p-4 {
    background-color: #10202f !important;
    color: white !important;
    border: none;
}

body>div.container>div.form-control.mt-5.mb-5.p-4>form>input {
    border-radius: 8px;
    padding: 3px;
    margin: 0.5rem;
}